/*
Theme Name: Quince Child
Theme URI: http://mnkythemes.com/quince
Template: quince
Author: MNKY
Author URI: http://themeforest.net/user/MNKY
Description: Quince is a modern multipurpose WordPress business theme. Available exclusively on Theme Forest.
Version: 1.8.3.1562734707
Updated: 2019-07-10 04:58:27

*/
.required_icon {
    font-size: 17px;
    color: #ff0000;
}
.login_register_header #header-wrapper {
    background-color: transparent !important;
}
.login_register_header {
    position: fixed !important;
    height: 0px !important;
}
/***********header login user dropdown menu css***********/
/*.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}*/
.user_name {
    font-size: 14px;
    padding-left: 10px;
    position: relative;
    top: 8px;
}
.dropbtn {
    width: 40px;
    position: relative;
    top: 23px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 65px;
}

.dropdown-content a {
  color: black;
  padding: 7px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/***********header login user dropdown menu css end***********/
.required_icon {
    font-size: 17px;
    color: #ff0000;
}
.login_register_header #header-wrapper {
    background-color: transparent !important;
}
.login_register_header {
    position: fixed !important;
    height: 0px !important;
}
/*********login and register page css***********/
body {font-family: 'Raleway', sans-serif;}
.choir_backimg {
	background-image: url(https://binarydata.in/lumiiq/wp-content/uploads/2019/07/06_choir_signup.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}
.choir_backimg {
	padding-bottom: 40px;
	padding-top: 100PX;
}
.right-nav li {
    list-style: none;
}
.right-nav li a {
    font-size: 15px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
    display: block;
}
.right-nav li a:first-child {
	font-size: 22px;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: 500;
}
.choir_main h6 {
    font-size: 30px;
    color: #f6b12c;
    font-family: "Raleway";
    font-weight: 700;
    margin-bottom: 0px;
}
.choir_main h1 {
    font-size: 70px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 700;
    line-height: 65px;
    padding-bottom: 20px;
}
.choir_main p {
    font-size: 16px;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: 500;
}
.sign_up {
    background-color: #4b5073;
    opacity: 0.7;
    padding: 20px 30px 25px 30px;
}
.choir_main h2 {
    font-size: 30px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
}
input.btn.btn-default {
    font-size: 20px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    background-color: #ff9933 !important;
    width: 100%;
    border: 1px solid #ff9933;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #e8790a;
}
.choir_main input {
    width: 100%;
    background-color: #fff !important;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40px;
    padding: 0px 10px;
}
.choir_main {
    padding-top: 35px;
    max-width: 1000px;
    margin:0 auto;
}

@media screen and (max-width: 1200px) {
	.choir_backimg {
	height:auto;
}  
}
.error {
    background: transparent !important;
}
.tooltip {
    opacity: 1 !important;
}
#loginform #wp-submit {
    font-size: 20px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    background-color: #ff9933 !important;
    width: 100%;
    border: 1px solid #ff9933;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #e8790a;
}
.login-remember #rememberme{
    width: auto;
    height: auto;
}
/*********login and register page css end***********/
/**********************Choir Profile css 19 july 2019************/
.profile_banner {
  background-image: url("http://localhost/lumiiq/wp-content/uploads/2019/07/profile_banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:80vh;
}
.profile_sec {margin-top: -210px;}
.choir_master {
    background: #fff;
    box-shadow: 0px 50px 40px #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.choir_master small {
    font-size: 16px;
    color: #ed2939;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.choir_master h1 {
    font-size: 26px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.choir_master p {
    font-size: 14px;
    color: #666666; 
    font-family: "Roboto";
    font-weight: 500;
}
.choir_master h3 {
    font-size: 17px;
    color: #ed2939;
    font-family: "Roboto";
    font-weight: 500;
}
.phone_no {
    font-size: 15px;
    color: #666666;
    font-family: "Roboto";
    font-weight: 500;
    text-decoration: none;
}
.phone_no:hover, .phone_no:active, .phone_no:focus {
    font-size: 18px;
    color: #666666;
    font-family: "Roboto";
    font-weight: 500;
    text-decoration: none;
}
.choir_master_iner {width: 100%;padding: 0px 20px;}
.choir_list {
    background-color: #f6f6fd;
    padding: 20px;
    margin-top: 50px;
}
.choir_list h2 {
    background-image: linear-gradient(to right , #176fc8, #176fc8 33%, #ff5558 66%, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
  color: #333333;
  font-family: "Raleway";
  font-weight: 700;
} 
.ch_list {
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 3px;
}
.table_hd {
    font-size: 20px;
    color: #333333;
    font-family: "Raleway";
    font-weight: 700;
    text-align: left;
}
.table_text {
    font-size: 16px;
    color: #666666;
    font-family: "Roboto";
    font-weight: 400;
    text-align: left;
}
.table_loctn {
    font-size: 20px;
    color: #333333;
    font-family: "Raleway";
    font-weight: 700;
    text-align: left;
}
.table_link {
    font-size: 14px;
    color: #2a2a2a;
    font-family: "Roboto";
    font-weight: 500;
    text-decoration: none;
}
.table_link:hover {color:#2a2a2a;}
.pink_link {
    font-size: 18px;
    background: -webkit-linear-gradient(#ff2424 , #ff2424 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto";
    font-weight: 500;
}
.serch_btn input[type="search"] {
    width: 150px;
    border: 1px solid #000;
    border-radius: 20px;
    height: 32px;
    margin-right: 10px;
}
.serch_btn {
    display: inline-flex;
    float: right;
    align-items: center;
}
.serch_btn input[type="search"]::-webkit-input-placeholder { 
  background: -webkit-linear-gradient(#9f9f9f , #9f9f9f );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 font-size: 16px;
color: #9f9f9f;
font-family: "Roboto";
font-weight: 400;
height:32px;
}

.serch_btn input[type="search"]:-ms-input-placeholder { 
  background: -webkit-linear-gradient(#9f9f9f , #9f9f9f );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 16px;
color: #9f9f9f;
font-family: "Roboto";
font-weight: 400;
height:32px;
}

.serch_btn input[type="search"]::placeholder {
  background: -webkit-linear-gradient(#9f9f9f , #9f9f9f );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 16px;
color: #9f9f9f;
font-family: "Roboto";
font-weight: 400;
height:32px;
}
.team_member_sec img {
    min-height: 255px;
}
.team_member_sec {
    background-image: url("../images/member_banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0px;
}
.team_member_sec h2 {
    font-size: 40px;
    font-family: "Raleway";
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.team_member_sec h2 {
    background-image: linear-gradient(to right , #176fc8, #176fc8 33%, #ff5558 66%, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family: "Raleway";
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.team_member_sec h4 {
    font-size: 18px;
    color: #333333;
    font-family: "Raleway";
    font-weight: 700;
    margin-top: 15px;
}
.team_member_sec p {
    font-size: 14px;
    color: #797979;
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom: 10px;
}
.team_member_sec a {
    font-size: 15px;
    color: #ff3333;
    font-family: "Roboto";
    font-weight: 500;
    display: block;
}
.latest_song {
    padding: 20px;
}
.latest_song iframe {margin-bottom: 20px;}
.latest_song h2 {
    background-image: linear-gradient(to right , #176fc8, #176fc8 39%, #ff5558 66%, #ff5558);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family: "Raleway";
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

/* ********************* Choir Profile css Ends Here  19 july 2019 *************************/
/*************************************Edit_choir_profile css************************************/
.add_choir {padding: 70px 0px;}
.add_choir_hd h1 {
    font-size: 32px;
    letter-spacing: 2px;
    color: #0f0f0f;
    font-family: "Raleway";
    font-weight: 600;
}
.add_choir_hd p {
    font-size: 15px;
    color: #666666;
    font-family: "Roboto";
    font-weight: 400;
}
.dropzone {
    border: 2px solid #ccc;
    border-style: dashed;
    height: 200px;
    width: 100%;
    border-radius: 5px;
   
}
.dropzone span {
    font-size: 18px;
    color: #a09a9a;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
    display: block;
}
.dz-success-mark {display: none;}
.dz-error-message {display: none;}
.dz-progress {display: none;}
.dz-details {display: none;}
.dz-error-mark {display: none;}
.dz-image {text-align: center;}
.attachFileSpan {
  background-color: #fff;
  padding: 5px 10px;
}
.image_uploader_sec {
    background-color: #eef2f6;
    padding: 60px 0px;
}
.image_uploader_inersec {
    max-width: 700px;
    margin: 0 auto;
}

.image_uploader_sec label {
    font-size: 17px;
    color: #333333;
    font-family: "Roboto";
    font-weight: 500;
    display: block;
    width: 100%;
} 
.custom_input {
    width: 100%;
    height: 45px;
    border: 1px solid #d2dce6;
    border-radius: 5px;
    padding: 0px 10px;
}
.red_btn {
    background-color: #ff2828;
    border: 1px solid #ff2828;
    padding: 5px 30px;
    font-size: 18px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 5px;
}
.img_size {
    font-size: 15px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 400;
    margin-top: 10px;
}
.choir_master p span .fa {
    color: #fff;
    background-color: #ed2939;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
    border-radius: 2px;
}
/*************************************Edit_choir_profile css Ends HERE ************************************/
