/* CSS Document */
.sticky {
  display: block;
}
.site-info {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.bypostauthor {
  display: block;
}
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1rem;
}
.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1rem;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  margin-bottom: calc(1.5 * 1rem);
}
.wp-caption-text {
  color: #767676;
  font-size: 0.71111em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}
.gallery-caption {
  display: block;
  font-size: 0.71111em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.custom-header {
	position: relative;
}
.post-navigation{
	display:none;
}
body.page div.woocommerce {
	float: left;
	width: 70%;
}
body.page aside.widget-area {
	width: 30%;
	float: right;
}
aside.widget-area > .widget-column {
	margin: 0;
	padding: 0;
}
aside.widget-area > .widget-column h3,
aside.widget-area > .widget-column h2{
	margin-top:0;
	font-size:18px;
}
.widget_recent_comments ul li{
	font-size:14px;
	color:#333;
	font-weight:normal;
}
.main-navigation .main-menu > li{
	font-size: 16px;
}
.main-navigation .main-menu > li a{
	font-weight:normal;
}