/* CSS Document */
header#masthead {
	background-color: #005174;
	background-image: linear-gradient(45deg, #005174 0%, #000000 90%, #005174 75%);
}
.site-branding p.site-title a,
.site-branding h1.site-title a,
.site-branding .site-description{
	color:#fff;
}
.site-branding .site-description{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
nav.main-navigation{
	
}
nav.main-navigation .menu-all-pages-container{
	float:right;
}
nav.main-navigation .menu-all-pages-container a{
	color:rgba(255,255,255,0.9);
}
section.content-area main.site-main select.orderby,
section.content-area main.site-main{
	font-family:Arial, Helvetica, sans-serif;
}

section.content-area main.site-main .woocommerce-result-count{
	padding:0;
	color:#fff;
	font-size:18px;
}
section.content-area main.site-main article.post .entry-content,
section.content-area main.site-main article.page .entry-content{
	background-color:rgba(255,255,255,0.2);
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
section.content-area main.site-main article.page .entry-content table{
	background-color:rgba(255,255,255,0.8);
	text-align:center;
	color:#000;
}
section.content-area main.site-main article.page .entry-content table a{
	color:#000;
}
section.content-area main.site-main article.page .entry-content table a.button{
	color:#fff;
}
section.content-area main.site-main article.post .entry-content a.button,
section.content-area main.site-main article.page .entry-content a.button{
	color: #fff;
}
section.content-area main.site-main article.post .entry-content a,
section.content-area main.site-main article.page .entry-content a{	
	font-size: 14px;
	font-weight: normal;
}
section.content-area main.site-main article.post .entry-content .page-links,
main.site-main article.post .entry-content .page-links {
	padding: 0px 40px;
	margin: 0 auto 40px auto;
	font-size: 14px;
	width: auto;
	background-color: #005174;
	background-image: linear-gradient(145deg, #005174 0%, #000000 100%, #005174 75%);
	border-radius: 12px;
	text-align: center;
	width: 50%;
	color: #fff;
	border: 1px solid #333;
}
section.content-area main.site-main .navigation.pagination .nav-links{
	background-color: rgba(0,0,0,0.8);
	border-radius: 12px;
	width: 70%;
}
section.content-area main.site-main .navigation.pagination .nav-links a{
	color:#fff;
	font-size: 16px;
}
section.content-area main.site-main .navigation.pagination .nav-links .page-numbers.current{
	background-color: rgba(0,0,0,0.2);
	color:#fff;
	border-radius: 12px;	
}
section.content-area main.site-main .navigation.pagination .nav-links .page-numbers.dots{
	color:#fff;
}
footer.site-footer{
	background-color: rgba(0,0,0,0.95);
	margin:40px 0 0 0;
}
footer.site-footer div.site-info{
	border-top:1px solid #fff;
	margin:0 auto;
	text-align:center;
	padding:10px 30px;
}
footer.site-footer div.site-info a{
	font-size:16px;
}
footer.site-footer aside .widget-column{
}
footer.site-footer aside .widget-column section h2.widget-title{
	color:rgba(255,255,255,0.6);
}
footer.site-footer aside .widget-column section ul{
}
footer.site-footer aside .widget-column section ul li{	
	margin:0;
	padding:0;
	font-size:14px;
	line-height:22px;
}
footer.site-footer aside .widget-column section ul li a{
	font-size:14px;
	text-transform:capitalize;
	font-family:Arial, Helvetica, sans-serif;
}
footer.site-footer aside .widget-column section form input[type="text"], 
footer.site-footer aside .widget-column section form input.search-field {
	width: 100%;
	padding: 4px;
	font-family: arial;
	font-size: 16px;
	background-color:rgba(0,0,0,0.2);
	color:#fff;
}
footer.site-footer aside .widget-column section form input[type="submit"]{
	padding:4px 20px;
	font-size:14px;
	font-weight:normal;
}
footer.site-footer aside .widget-column section form input[type="submit"]:hover{
	background-color:rgba(0,115,170,0.8);
}
section.content-area main.site-main ul.products li h2{
	color:#005174;
	font-size:16px;
	min-height:60px;
}
section.content-area main.site-main ul.products li .button{
	font-size:14px;
	padding:10px 0;
	text-align:center;
	width:100%;
}
section.content-area main.site-main ul.products li .price,
section.content-area main.site-main ul.products li .woocommerce-Price-amount{
	color:#005174;
	font-size:14px;
	text-align:center;
}
.archive .page-header,
.entry-header,
.hfeed .entry .entry-header{
	margin:0;
	
}
.archive .page-header,
.entry-header{
	background-color: #005174;
	padding: 30px;
	
}

.archive .page-header .page-title,
.entry .entry-title,
.entry-header .entry-title,
.hfeed .entry .entry-header .entry-title{
	font-size:22px;
	font-family:Arial, Helvetica, sans-serif;
	color: #fff;
}
.home .entry .entry-title{
	color:#000;
}
.entry .entry-title a:hover{
	color:rgba(255,255,255,0.9);
}
.entry .entry-title:before{
	background: none;
	display:none
}
.error-404 header.page-header{
	text-align:center;
	margin:60px 0 0 0;
}
.archive .page-header .page-description{
	font-size:20px;
	color:#fff;
}
.entry .entry-content p,
.entry .entry-header{
	max-width:none;
	width:100%;
}
.entry .entry-header{
	margin:0;
}
.entry .entry-meta a, .entry .entry-footer a{
	color:#005174;
}