/*
Theme Name: Quince
Description: Adds support for languages written in a Right To Left (RTL) direction.

-----------------------------------------------------------------

	01.	Reset Stylesheet
	02.	Base Styles
	03.	Nonsemantic Base Styles
	04.	Header
	05.	Menu
	06.	Content
	07.	Images
	09.	Comments
	09.	Footer
	10.	Widgets
	11.	Plugins
	12.	Responsive styles

-----------------------------------------------------------------*/


/*---------------------------------------------------------------*/
/* 01. Reset Stylesheet
/*---------------------------------------------------------------*/

body {
	direction: rtl;
	unicode-bidi: embed;
}


/*---------------------------------------------------------------*/
/* 02. Base Styles 
/*---------------------------------------------------------------*/

/* Definition list */
dt {float: right; clear: right; text-align: left;}
dd {margin: 0 150px 0 0;}

/* Bloquote */
blockquote cite:before {padding-right:0px; padding-left:5px;}

/* Form style */
.ie6 legend, .ie7 legend { margin-left: 0px; margin-right: -7px; } 


/* List style */
ul, ol { margin-left: 0; margin-right: 1.8em;}
ol {list-style: decimal;}
ol, ul.square, ul.circle, ul.disc, ul {margin-left: 0px; margin-right: 30px;}
ul ul, ul ol, ol ol, ol ul {margin: 4px 30px 5px 0;}



/*---------------------------------------------------------------*/
/* 03. Nonsemantic Base Styles 
/*---------------------------------------------------------------*/

/* For image replacement */
.ir { text-indent: 999em; text-align: right; direction: rtl;}


/*---------------------------------------------------------------*/
/* 04. Header
/*---------------------------------------------------------------*/

/* Logo */
#site-logo {left:auto; right:0px;}
.full-width #site-logo {left:auto; right:40px;}

/* Header search */
.header-search {right:auto; left:0;}

/* Page title */
.page-header {text-align:right;}
.page-header h1.page-title {margin:0 -0.065em 0 0;}
.breadcrumbs-trail {float:left; margin-right:0px; margin-left:2px; }
.breadcrumbs-title{padding-right:0px; padding-left:5px; }


/*---------------------------------------------------------------*/
/* 05. Menu
/*---------------------------------------------------------------*/

#site-navigation{float:left;}
.full-width #site-navigation{margin-right:0px; margin-left:40px;}
#site-navigation .menu-container{float:right;}
#site-navigation ul li{float:right;}
#site-navigation .search_button {margin-left:0px; margin-right:30px;}
#site-navigation .header_cart_link{margin-left:0px; padding:0px 30px 19px 0;}
#site-navigation .header_cart_link .cart_product_count{left:auto; right:40px;}

/* Sub-level */
#site-navigation ul li ul{left: auto; right:0px;}
#site-navigation ul li:hover > ul{visibility: visible;}
#site-navigation ul li ul li ul{left:auto; right:210px;}
#site-navigation ul li ul li ul li a {padding-left:0px; padding-right:20px;}

/* Mobile menu */
.toggle-mobile-menu{right:auto; left:40px;}

/* Mega menu */
#site-navigation ul li.megamenu > ul{left:auto; right:0px;}
#site-navigation ul li.megamenu ul li ul{left:auto; right:0px;}


/*---------------------------------------------------------------*/
/* 06. Content
/*---------------------------------------------------------------*/

/* Post text alignment */
.blog #content article.post-entry {text-align:right;}
.single-post #content article.post-entry{text-align:right;}
 
/* Post navigation */
.post-navigation a {margin-right:0px; margin-left:5px;}

/* Sticky post */
article.sticky .entry-title:after {float:left;}

/* Password protected post */
.post-password-form label input {margin-left:0px; margin-right:10px;}

/* Quote + Link + Status format */
article.format-quote .quoute-text:after, article.format-link .link-text:after, article.format-status .status-text:after  {right:auto;left:20px;}

/* Quote format */
article.format-quote .quoute-text span:before{padding-right:0px; padding-left:5px;}

/* Chat format */
article.format-chat p {padding:10px 40px 10px 10px;;}
article.format-chat p:before{margin-left:8px; margin-right:-27px;}

/* Video format */
article.format-video .post-preview .post-video-wrapper iframe {left: auto; right: 0;}

/* Image format */
article.format-image .post-preview a:after {left:auto; right:0%; border-radius:0px 0px 4px 0px; }

/* Next and previous links */
.next_post_link a {float:left;}
.previous_post_link a:before, .nav-previous a:before{margin-left:0px; margin-right:1px;}
.next_post_link a:after, .nav-next a:after{margin-left:1px; margin-right:0px;}

/* Meta */
.entry-meta-footer .meta-date:before{margin-left:0px; margin-right:1px;}
.tag-links{margin-bottom:5px;}
.tag-links:before{margin-left:0px; margin-right:1px;}
.tag-links span {margin-left:5px; margin-right:0px;}
.tag-links span:after {margin-left:0px; margin-right:2px;}
.tag-links span:last-child:after {margin-right:0px; margin-left:inherit; }

/* Page links */
.page-links  span {padding-right:0px; padding-left:5px;}

/* Author info */
.author-area img{float:right; margin-right: 0px;  margin-left: 20px;}

/* Search result page */
.search-results article .entry-title:before {padding-right: 0px; padding-left: 8px; margin-left:0px; margin-right:1px;}


/*---------------------------------------------------------------*/
/* 07. Images
/*---------------------------------------------------------------*/

img.alignleft { margin-left: 1em; margin-right: 0;}
img.alignright { margin-left: 0; margin-right: 1em;}
.wp-caption.alignleft  { margin-left: 1em; margin-right: 0;}
.wp-caption.alignright { margin-left: 0; margin-right: 1em;}

/* WordPress Captions */
.wp-caption .wp-caption-text  { margin: -0.5em 0em 0.25em 0.25em;}
.wp-caption figcaption {text-align: right;}

/* WordPress Gallery (some parts adapted from Twenty Fourteen by the WordPress team http://wordpress.org/themes/twentyfourteen) */

.gallery-item {float: right;}
.gallery-caption {left: auto; right: 0; text-align: right;}


/*---------------------------------------------------------------*/
/* 08. Comments
/*---------------------------------------------------------------*/

/* Comment list */
#comments .comment-list .children {padding-left:0px; padding-right:30px;}
#comments .comment-body {padding: 0 80px 30px 0;}
#comments .comment-author img{float:right; margin-right:0px; margin-left:20px; }
#comments .reply{right:auto; left:40px; }

/* Pingbacks and trackbacks */
#comments .pingback .comment-body:before {padding-left:8px; padding-right:0;}

/* Comment form */
#comments h3.comment-reply-title #cancel-comment-reply-link{ float:left; margin-right:0px; margin-left:2px; }

/* Comment form columns */
.col_container .col_3{float: right; padding-right: 0px; padding-left: 20px;}
.col_container .col_3:last-child{padding-right:inherit; padding-left:0px;}


/*---------------------------------------------------------------*/
/* 09. Footer
/*---------------------------------------------------------------*/

/* Scroll to top button */
.scrollToTop{right:auto; left:20px;}

/*---------------------------------------------------------------*/
/* 10. Widgets
/*---------------------------------------------------------------*/

/* Default widget style */
.widget ul ul li{margin-left:0px; margin-right:15px;}

/* Copyright widget style */
.site-info .widget {float:right; margin-left:40px; margin-right:0px;}
.site-info .widget-title {display:none}
.site-info .recentcomments {padding-left:0px; padding-right:10px;}
.site-info .recentcomments:first-child {padding-left:inherit padding-right:0px;}
.site-info ul li {margin-left:10px; margin-right:0px;}
.site-info ul li:last-child {margin-left:0px; margin-right:inherit;}
.site-info ul ul li a{padding:0px 0px 0px 10px; }

/* Top bar widget style */
#top-bar .widget-container { margin-left:40px; margin-right:0px;}
#top-bar .widget-container:last-child { margin-left:0px; margin-right:inherit;}
#top-bar .widget-title {margin-left:10px; margin-right:0px;}
#top-bar .recentcomments {padding-left:0px; padding-right:10px;}
#top-bar .recentcomments:first-child {padding-left:inherit; padding-right:0px;}
#top-bar ul li {float:right; margin:0;}
#top-bar ul ul li a{padding:0px 0px 0px 10px; }
#top-bar ul ul li a:after { margin-left:0px; margin-right:10px;}
#top-bar ul ul li:last-child a:after {margin-right:0px; margin-right:ingerit}
#top-bar ul ul li:first-child a{padding-left:inherit; padding-right:0px;}
#top-bar ul ul li:last-child a{padding-right:inherit; padding-left:0px; border-left: none;}
#top-bar #topright-widget-area ul {float:left;}

/* SINGLE WIDGET STYLES */

/* WP Menu Widget */
#sidebar .widget_nav_menu ul ul li  {margin-left:0px; margin-right:5px}

/* WP Calendar */
#wp-calendar tfoot #next {text-align: left;}
#wp-calendar tfoot #prev {padding-right:0px; padding-left:60px;}


/*---------------------------------------------------------------*/
/* 11. Plugins
/*---------------------------------------------------------------*/

/* CORE EXTEND */
/* Colored Box */
.colored-box {text-align:right; }

/* Seperator */
.separator_shadow:before {right: 2%; left: auto;}
.separator_w_icon .icon_align_left i{padding: 0 0 0 0.5em;}
.separator_w_icon .icon_align_right i{padding: 0 0.5em 0 0;}

/* Button */
.wpb_button {margin-left:10px; margin-right:0px;}
.wpb_button:last-child {margin-right:inherit; margin-left:0px;}
.wpb_button i{padding-left: 7px; padding-right:0px;}

/* Button 2*/
.vc_btn { margin-left:10px; margin-right:0px;}
.vc_btn:last-child {margin-inherit:0px; margin-left:0px;}

/* Heading */
.heading_wrapper{text-align:right;}

/* Team */
.team_wrapper{text-align:right;}
.team_wrapper p span:after{ margin-left:5px; margin-right:0px;}

/* Testimonials */
.testimonials-style-1 .testimonial-content{ margin-left: 0px; margin-right: 160px;}
.testimonials-style-1 .testimonial-img {float: right; }
.testimonials-style-1 .testimonial-img img{float: right;}
.testimonials-style-1 .testimonial-img:before{right:auto; left:-21px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);}
.testimonials-style-1 .testimonial-author{padding-left:5px; padding-right:0px; text-align: left;}

.testimonials-style-2 .testimonial-author{text-align:right;}
.testimonials-style-2 .testimonial-img-2{padding-left:10px; padding-right:0px;}
.testimonials-style-2 .testimonial-line.tl-top{text-align:right !important;}
.testimonials-style-2 .testimonial-line.tl-bottom{text-align:left !important; padding-left:2px; padding-right:0px;}
.testimonials-style-2 .testimonial-line.tl-top span{right:40px; left:auto;}
.testimonials-style-2 .testimonial-line.tl-bottom span{right:auto; left:40px;}

.testimonials-style-3 .testimonial-author{text-align:right;}
.testimonials-style-3 .testimonial-img-2{padding-left:10px; padding-right:0px;}

.testimonials-style-4 .testimonial-content:after{right:33px; left:auto;}
.testimonials-style-4 .testimonial-img-2{padding-left:0px; padding-right:5px;}
.testimonials-style-4 .testimonial-author{padding-left:0px; padding-right:10px; text-align:right;}
.testimonials-style-4 .testimonial-author span{padding-left:5px; padding-right:5px;}

/* List */
.custom-list-item{margin-right: 1.65em; margin-left: 0px;}
.custom-list-item i{margin-right:-1.5em; margin-left: 0px;}
.text-aligncenter .custom-list-item{margin-right:2.55em; margin-left: 0px;}
.text-aligncenter .custom-list-item i{margin-right:-30px; margin-left: 0px;}

/* Service Box*/
.service-box {text-align:right;}
.service-box i {margin-right:5px; margin-left:0px; left:auto; right:0px;}
.service-content {margin-left:0px; margin-right:65px; padding-right:5px; padding-left:0px;}

/* Service Box Right Align */
.service-box.sb_right .service-content{margin-right:0px; margin-left:70px; padding-right:5px; padding-left:0px;}
.service-box.sb_right {text-align:left;}
.service-box.sb_right i {float:left; margin-left:5px; margin-right:0px;}

/* Service Box Center Align */
.service-box.sb_center .service-content{margin-right:0px; padding-left:0px;}

/* Horizontal tabs */
.wpb_tabs .wpb_tabs_nav li {float:right;}
.wpb_tabs.wpb_content_element .wpb_tabs_nav li { margin-left: -1px; margin-right:0px;}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab {padding-right:0px;}

/* Vertical tabs */
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {padding: 0px 40px 0px 0px;}
.wpb_tour .wpb_tabs_nav {float:right;}
.wpb_tour_next_prev_nav {margin-left:0px; text-align:left;}
.wpb_tour .wpb_tabs_nav li.ui-tabs-active:after, .wpb_tour .wpb_tabs_nav li.ui-tabs-active:before {right:auto; left:-14px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);}
.wpb_tour .wpb_tabs_nav li.ui-tabs-active:before {right:auto; left:-15px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);}

/* Accordion */
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon, .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {right:auto; left:0; margin-left:0px; margin-right:0px; border-right: 1px solid #ddd; border-left: none;}
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon:after, .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon:after{margin-right:-5px; margin-left:0px; }

/* Toggle */
.wpb_toggle.wpb_toggle_title_active:before, #content h4.wpb_toggle.wpb_toggle_title_active:before{margin-left:0px; margin-right:-2px;}
.wpb_toggle::before, #content h4.wpb_toggle::before {content:"\f053"};

/* Message box */
.wpb_alert .messagebox_text:before {margin-left:0px; margin-right:-40px;}
.wpb_alert .messagebox_text {margin-right:40px; margin-left:0px;}

/* Progress bar */
.vc_progress_bar .vc_single_bar .vc_label {text-align:right;}
.vc_label_units {padding-left:0px; padding-right:4px;}

/* Pricing box */
.pricing-box .plan-badge {right:auto; left:-15px;}

.pricing-box.box-style-2 .plan-badge  {right:auto; left:-18px;}
.pricing-box.box-style-2 .plan-arrow{left:auto; margin-top:0px; right:50%; margin-right:-9px;}

.pricing-box.box-style-3 .plan-currency{padding-left:0px; padding-right:1px;}
.pricing-box.box-style-3 .plan-badge{right:auto; left:-13px;}
.pricing-box.box-style-3 .plan-divider{width:75%;margin:25px auto 35px;}
.pricing-box.box-style-3 .plan-arrow{left:auto; margin-top:0px; right:50%; margin-right:-10px;}

.pricing-box.box-style-4 .plan-currency {margin-left:0px; margin-right:-8px;}

/* Popover */
.webui-popover{text-align:right;}
.webui-popover.top>.arrow:after,.webui-popover.top-right>.arrow:after,.webui-popover.top-left>.arrow:after{margin-left:0px; margin-right:-10px;}
.webui-popover.right>.arrow{left:auto; right:-11px;}
.webui-popover.right>.arrow:after{left:auto; right:1px;}
.webui-popover.right>.arrow{left:auto; right:-11px;}
.webui-popover.right>.arrow:after{left:auto; right:1px;}
.webui-popover.bottom>.arrow,.webui-popover.bottom-right>.arrow,.webui-popover.bottom-left>.arrow{left:auto; right:50%; margin-left:0px; margin-right:-11px;}
.webui-popover.bottom>.arrow:after,.webui-popover.bottom-right>.arrow:after,.webui-popover.bottom-left>.arrow:after{margin-left:0px; margin-right:-11px;}
.webui-popover.left>.arrow{right:auto; left:-11px; }
.webui-popover.left>.arrow:after{left:1px; right:auto;}

/* WOOCOMMERCE */
/* Menu Cart Widget */
#site-navigation .header_cart_widget{left:-15px; right:auto;}
#site-navigation .header_cart_widget:before,#site-navigation .header_cart_widget:after{right:auto; left:16px;}
#site-navigation .header_cart_widget .woocommerce ul li img{float:left;}
#site-navigation .header_cart_widget .woocommerce .buttons a:first-child {margin-right:0px; margin-left:20px;}
#site-navigation .header_cart_widget .woocommerce dl dt{float:right; clear:right; margin:0 0 0 .25em;}
.widget_shopping_cart_content a.remove {float:right; margin-right:5px; margin-left:0px;}

/* Item list */
.shop-template h3, .entry-content .woocommerce h3 {text-align:right;}
.woocommerce nav.woocommerce-pagination, .woocommerce #content nav.woocommerce-pagination, .woocommerce-page nav.woocommerce-pagination, .woocommerce-page #content nav.woocommerce-pagination {text-align:right;}
.woocommerce a.add_to_cart_button.button:before {content:""; padding:0; margin:0}
.woocommerce a.add_to_cart_button.button:after{content:"\f07a"; font-family:FontAwesome; color:#333; font-size:16px; speak:none; font-style:normal; font-weight:normal; line-height:1; padding-left:10px; cursor:default; -webkit-font-smoothing:antialiased; text-shadow:none; position:relative; top:2px}
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale {right:auto; left:0px;}

/* General */
.shop-template h2,.entry-content .related h2 {text-align:right;}
.woocommerce .product-col-4 .related  ul.products li.product, .woocommerce-page .product-col-4 .related  ul.products li.product, .woocommerce .product-col-3 .related  ul.products li.product, .woocommerce-page .product-col-3 .related  ul.products li.product {float:right;}
.woocommerce .product-col-3 ul.products li.last, .woocommerce-page .product-col-3 ul.products li.last, .woocommerce .product-col-4 ul.products li.last, .woocommerce-page .product-col-4 ul.products li.last {margin-right:0.2%; margin-left:0px;}
.quantity .plus  {border-radius:3px 0px 0px 3px;}
.quantity .minus {border-radius:0px 3px 3px 0px;}
.woocommerce-message .button, .woocommerce-error .button, .woocommerce-info .button {float:left;}
.woocommerce-info::before {content:""; margin:0; padding:0;}
.woocommerce-info::after { display:inline-block; float:right; clear:none; font-family: FontAwesome; content: "\f05a"; margin-left: 7px; margin-right: 1px; color: #9caaff; font-size: 18px; vertical-align: -1px;}
.woocommerce form .form-row-first,.woocommerce form .form-row-last,.woocommerce-page form .form-row-first,.woocommerce-page form .form-row-last{float:right;}
.woocommerce form .form-row-last,.woocommerce-page form .form-row-last{float:left; text-align:right;}


/* Flipping single product page */
.woocommerce div.product form.cart div.quantity, .woocommerce #content div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity {float:right; margin-right:0px; margin-left:10px;}
.woocommerce div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce-page #content div.product form.cart .button {float:right;}
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {float:right;}
.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {float:left;}
.woocommerce span.onsale, .woocommerce-page span.onsale {left:auto; right:0px;}
.woocommerce .star-rating, .woocommerce-page .star-rating {float:left;}

/* Comments */
.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {margin:0 50px 0 0;}
.woocommerce #review_form .comment-form-author,.woocommerce-page #review_form .comment-form-author,.woocommerce #review_form .comment-form-email,.woocommerce-page #review_form .comment-form-email {float: right; margin-left: 2%;margin-right: auto;}
.woocommerce #review_form .comment-form-email,.woocommerce-page #review_form .comment-form-email {margin-left:0;}
.woocommerce p.stars span, .woocommerce-page p.stars span {float:right;}

/* Cart and checkout */
.woocommerce th {text-align:right;}
.woocommerce table.shop_table,.woocommerce-page table.shop_table {text-align:right;}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {text-align:left;}
.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li {text-align:right;}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {float:right;}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {float:left;}


/* CONTACT FORM 7 */
.wpcf7 input.wpcf7-file {padding-left:10px; padding-right:0px;}
div.wpcf7 img.ajax-loader{margin-left:0px; margin-right:20px;}


/*---------------------------------------------------------------*/
/* 12. Responsive
/*---------------------------------------------------------------*/

	
	/* Menu paddings for boxed header */
	@media only screen and (max-width : 1150px) {
	
	#site-logo {right:40px; left:auto;}
	#site-navigation {margin-right:0px; margin-left:40px;}
	
	}

	/*
	* -------------------------------------------------------------------------------------------
	* ALL DEVICES STARTING TABLET PORTRAIT
	* -------------------------------------------------------------------------------------------
	*/
	
	@media only screen and (max-width: 979px) {
		
	.breadcrumbs-trail {float:right;}
	
	/* Comment form */
	.col_container .col_3 {padding-left:0px; padding-right:inherit;}
	
	}
	
	/*
	* -------------------------------------------------------------------------------------------
	* MOBILE PORTRAIT & LOWER
	* -------------------------------------------------------------------------------------------
	*/	
	@media only screen and (max-width: 479px) {

	/* Definition list*/
	dt {text-align:right;}
	
	/* Posts */
	.previous_post_link a:before {margin-right:0px; margin-left:5px;}
	
	/* Buttons */	
	.vc_btn, .wpb_button {margin-left:0px;}
	
	/* Comment form */
	#comments .children .comment-body{padding-right:40px; padding-left:0px;}
	#comments .comment-list .children {padding-left: inherit; padding-right: 0px;}
	
	}
	
/*------------------------------------------------------------------------------*/
/* THANK YOU FOR CHOOSING OUR THEME! - MNKY Studio | http://mnkythemes.com
/*------------------------------------------------------------------------------*/